g2p-en==2.1.0
inflect==7.3.1
joblib
librosa
matplotlib==3.10.0
nltk==3.8.1
numba
numpy==1.26.4
pesq==0.0.2
pymcd==0.2.1
pysptk==1.0.1
pyworld==0.3.4
PyYAML
regex==2024.5.15
requests
scikit-learn==1.5.1
scipy==1.14.0
soundfile==0.12.1
soxr==0.3.7
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tgt==1.5
torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1
tqdm==4.66.4